@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.header {
  height: 75px;
  background-color: rgb(172, 57, 49);
}

.name {
  color: white;
  font-family: 'Square Peg', cursive;
  font-size: 42px;
  font-weight: 500;
  margin-left: 20px;
}